@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
}

.container {
    text-align: center;
}

.clock {
    position: relative;
    height: 360px;
    width: 360px;
    border: 8px solid #111;
    border-radius: 50%;
    background-color: #050505;
    overflow: hidden;
    cursor: pointer;
    transition: all .35s ease;
    box-shadow: 0 0 70px rgba(0 , 119 ,255 ,.15)
    inset 0 0 15px rgba(225 , 225 ,225 ,.02);
}
.clock::before{
   content: "";
   position: absolute;
   inset: 12px;
   border: 2px solid rgba(0 , 119 ,225 , .35);
   border-radius: 50%;
}
.clock:hover{
    transform: translateY(-8px)scale(1.03);
    box-shadow: 0 0 25px rgba(0 , 119 ,155 ,.35);
}
.number{
    position: absolute;
    inset: 18px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transform: rotate(calc(var(--i)*30deg));
}
.number b{
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    transform: rotate(calc(var(--i)*-30deg));
    user-select: none;
}